<div>
  {% set currentLink = collections.linkMap | mapGet(page.fileSlug) %}
  <h3>Outgoing Links</h3>
  <ul>
    {% for link in currentLink.outboundLinks %}
      <li>
        <a href="{{ link.path }}">{{ link.slug }}</a>
      </li>
    {% endfor %}
  </ul>
  <h3>Incoming Links</h3>
  <ul>
    {% for link in currentLink.inboundLinks %}
      <li>
        <a href="{{ link.path }}">{{ link.slug }}</a>
      </li>
    {% endfor %}
  </ul>
</div>