<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@1.4.6/dist/base.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@1.4.6/dist/components.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/typography@0.1.2/dist/typography.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@1.4.6/dist/utilities.min.css">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script defer src="/webcomponents/pagefind-search.js"></script>
  </head>
  <body class="prose xl:prose-xl">
    <pagefind-search></pagefind-search>
    {% include "backlinks.njk" %}
    {% include "graph.njk" %}
    <article data-pagefind-body>
      {{ content | safe }}
    </article>
  </body>
</html>