<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@1.4.6/dist/base.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@1.4.6/dist/components.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/typography@0.1.2/dist/typography.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@1.4.6/dist/utilities.min.css">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script defer src="/webcomponents/pagefind-search.js"></script>
  </head>
  <body>
    <div class="grid">
      <pagefind-search class="col-span-2 col-start-2 row-start-1 "></pagefind-search>
      <div class="col-start-1 row-start-2 row-span-full">
        {% include "sidebar.njk" %}
      </div>
      <div class="col-start-3 row-span-full">
        <div>{% include "backlinks.njk" %}</div>
        <div>{% include "graph.njk" %}</div>
      </div>
      <article class="col-start-2 row-start-2 prose xl:prose-xl" data-pagefind-body>
        {{ content | safe }}
      </article>
    </div>
  </body>
</html>